:root {
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --cornflover: #e7e9fc;
  --ocean: #404bbf;
  --slate: #434455;
  --navyblue: #2e2f42;
  --white: #fff;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--navyblue, #2e2f42);
  font-weight: 400;
}
.credo {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: var(--navyblue, #2e2f42);
}
.filtr {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.64px;
  line-height: 1.5;
  font-style: normal;
  color: var(--iris, #4d5ae5);
  text-align: center;
  background-color: var(--cloud, #f4f4fd);
  border-radius: 4px;
  border: 1px solid var(--cornflover, #e7e9fc);
  text-align: center;
  font-family: inherit;
}
.filtr:hover,
.filtr:focus {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.64px;
  line-height: 1.5;
  font-style: normal;
  color: var(--white, #fff);
  text-align: center;
  background-color: var(--ocean, #404bbf);
  border-radius: 4px;
  border: 1px solid var(--cornflover, #e7e9fc);
  text-align: center;
}
.contacts {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate, #434455);
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--ocean, #404bbf);
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-style: normal;
  line-height: 1.116;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--iris, #4d5ae5);
}
.logo:hover,
.logo:focus {
  color: var(--iris, #4d5ae5);
}
.navlinks {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  color: var(--navyblue, #2e2f42);
}
.navlinks:hover,
.navlinks:focus {
  color: var(--iris, #4d5ae5);
}
.main-links {
  text-decoration: none;
}
.description,
.job-position,
.section1 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate, #434455);
}
.order {
  background-color: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  /*letter-spacing: 0.09em;*/
  letter-spacing: 0.64px;
}
.order:hover {
  background-color: var(--ocean, #404bbf);
}
.third-heading {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  /*hejka, w Figmie mamy headery nych kart wpisane jako Header 3 czy musimy to zmienić?*/
  color: var(--navyblue, #2e2f42);
}
.second-heading {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.first-heading {
  color: var(--white, #fff);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
button {
  cursor: pointer;
}
.logo-part {
  color: var(--navyblue, #2e2f42);
}
.logo-down {
  color: var(--cloud, #f4f4fd);
}
.logo-part:hover,
.logo-part:focus,
.logo-down:hover,
.logo-down:focus {
  color: var(--iris, #4d5ae5);
}
ul {
  list-style: none;
}
.first-section {
  background-color: var(--navyblue, #2e2f42);
}
.second-section {
  background-color: var(--white, #fff);
}
.third-section {
  background-color: var(--cloud, #f4f4fd);
}
.down {
  background-color: var(--navyblue, #2e2f42);
}
.paragrafs {
  color: var(--slate, #434455);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: inherit;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
